<ul class="desktop-nav">
  {% for link in linklists[section.settings.main_linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}

    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {% comment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
      <li class="desktop-nav--has-dropdown{% if three_level_nav %} desktop-nav--has-centered-dropdown{% endif %}{% if link.active %} desktop-nav--active{% endif %}">
        <button class="desktop-nav__link desktop-nav__link--main desktop-nav__link--button"{% if link.active %} aria-current="page"{% endif %} type="button" aria-haspopup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          {% include 'icon-chevron-down' %}
        </button>

        <div class="desktop-nav__dropdown{% if three_level_nav %} desktop-nav__dropdown--centered{% endif %}" id="SiteNavLabel-{{ child_list_handle }}">
          {% if three_level_nav %}
            <div class="desktop-nav__childlist">
              <ul class="desktop-nav__childlist-grid">
                {% if link.links != blank %}
                  {% for childlink in link.links %}
                    <li class="desktop-nav__childlist-item">
                      <a href="{{ childlink.url }}" class="desktop-nav__link desktop-nav__child-link desktop-nav__child-link--parent"{% if childlink.active %} aria-current="page"{% endif %}>
                        {{ childlink.title | escape }}
                      </a>
                      {% if childlink.links != blank %}
                        <ul class="sub_child" display="none">
                        {% for grandchildlink in childlink.links %}
                          <li>
                            <a href="{{ grandchildlink.url }}" class="desktop-nav__link desktop-nav__child-link"{% if grandchildlink.active %} aria-current="page"{% endif %}>
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          {% else %}
            <ul>
              {% for childlink in link.links %}
                <li {% if childlink.active %}class="desktop-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="desktop-nav__link desktop-nav__child-link{% if forloop.last %} desktop-nav__link--last{% endif %}"{% if childlink.active %} aria-current="page"{% endif %}>
                    {{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% else %}
    {% endif %}
    {% endcomment %}

    <li class="desktop-nav__item {% if link.active %}desktop-nave__active{% endif %}">
      <a href="{{ link.url }}" class="desktop-nav__link" {% if link.active %} aria-current="page"{% endif %}>
        {{ link.title }}
      </a>
      <div class="desktop-nav__dropdown border-bottom">
        <div class="desktop-nav__link-container">
          <div class="desktop-nav__sub">
            <h4>Test Header</h4>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
            <span><a>Test Anchor</a></span>
          </div>
          <div class="desktop-nav__sub">
              <h4>Test Header</h4>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
          </div>
          <div class="desktop-nav__sub">
              <h4>Test Header</h4>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
              <span><a>Test Anchor</a></span>
          </div>
        </div>
        <div class="desktop-nav__img-container">
          <img src="https://cdn.redmarkdeals.com/img/placeholder.png"/>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

<script>
$(function() {
  /*
   * This is a really neat hack that prevents the dropdown box
   * from immediately disappearing when :hover is removed.
   * It provides a 180ms grace period between the nav link and
   * the dropdown. If neither a dropdown box NOR a nav link are
   * being hovered by the end of that grace period, we officially
   * "de-hover". It also allows fast inter-nav-link hovering.
   */
  var currentNavItem = null;
  $('.desktop-nav__item').hover(function() {
    currentNavItem = $(this);
    var addHover = function(j) {
      if (j.html() == currentNavItem.html() && j.is(':hover') && !currentNavItem.hasClass('hover'))
        currentNavItem.addClass('hover');
    };
    setTimeout(addHover, 50, $(this));
  }, function () {
    setTimeout(function(j) {
      if (j.html() != currentNavItem.html() && j.hasClass('hover'))
        j.removeClass('hover');
      else 
        setTimeout(function(k) {
          if (!k.is(':hover') && k.hasClass('hover'))
          {
            k.removeClass('hover');
            currentNavItem = null;
          }
        }, 150, j);
    }, 30, $(this));
  })
});
</script>