<ul class="list--inline pagination">
  <li>
      <a {% if paginate.previous.is_link %} href="{{ paginate.previous.url }}" {% endif %}>
        <div class="prev-btn {% unless paginate.previous.is_link %}disabled{% endunless %}">
          <img srcset="{{ settings.scroll_top_img | img_url: "78x46" }}"/>
        </div>
      </a>
  </li>
  <li class="pagination__text">
    {{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}
  </li>
  <li>
    <a {% if paginate.next.is_link %} href="{{ paginate.next.url }}" {% endif %}>
      <div class="next-btn {% unless paginate.next.is_link %}disabled{% endunless %}">
        <img srcset="{{ settings.scroll_top_img | img_url: "78x46" }}"/>
      </div>
    </a>
  </li>
</ul>