{% if compare_at_price > price and settings.show_sale_tag %}
  <span class="product-price__sale-label">sale</span>
{% endif %}

<div class="ps-item">
  <div id="{{ product.id }}" class="ps-product-grid psitem">
    <div class="ps-product-img">
      <a href="{{ product.url | within: collection }}"
        data-shop="psgallerydemo.myshopify.com" class="pscartimg"
        data-id="{{ product.id }}" data-name="" a="" split="" decision="" fuzzy="" pullover=""
        (grey)="" tabindex="-1"> <img
        src="{{ product.featured_image.src | img_url: '200x200' }}"
        alt="{{ product.featured_image.alt }}"
        class="lazypreload">
      </a>
    </div>
    <div class="ps-product-title">{{ product.title }}</div>
    <div class="ps-product-price">
      <div class="ps-product-sale-price">
        {% include 'product-price-related' %}
      </div>
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
  </div>
</div>
<style>
  span.spr-starrating.spr-badge-starrating i {
    color: #FFCC00;
  }
  span.spr-badge-caption {
    display: none;
  }
  span.spr-starrating.spr-summary-starrating i {
    color: #FFCC00;
  }
  span.spr-starratings.spr-review-header-starratings i {
    color: #FFCC00;
  }
</style>