<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

{% if compare_at_price > price %}
  {% if price_varies %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s class="product-price__price ds compare_cus">{{ compare_at_price | money }}</s>
    <span class="product-price__price product-price__sale sale_act_price">
      <span class="product__price sale_cus">{{ money_price }}</span>
     {% comment %} <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span> {% endcomment %}
    </span>
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s class="product-price__price da compare_cus">{{ compare_at_price | money }}</s>
    <span class="product-price__price product-price__sale sale_act_price sale_cus">
      {{ money_price }}
     {% comment %} <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span> {% endcomment %}
    </span>
  {% endif %}
{% else %}

  {% if price_varies %}
    <span class="product__price sale_act_price sale_cus">{{ money_price }}</span>
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <span class="product-price__price dd sale_act_price sale_cus">{{ money_price }}</span>
  {% endif %}
{% endif %}

{% unless available %}
  <span class="product-price__sold-out">{{ 'products.product.sold_out' | t }}</span>
{% endunless %}
