<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing product_page top">

  {% if settings.share_facebook %}
    <a class="share-facebook after" target="_blank" rel="noreferrer" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="btn btn--small btn--secondary btn--share share-facebook" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
     <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <span class="share-title">Share</span>
      
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a class="share-twitter after" target="_blank" rel="noreferrer" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="btn btn--small btn--secondary btn--share share-twitter" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
     <i class="fa fa-twitter" aria-hidden="true"></i>
      <span class="share-title">Tweet</span>
      
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_pinterest %}
    <a class="share-pinterest after" target="_blank" rel="noreferrer" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btn--small btn--secondary btn--share share-pinterest" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
   <i class="fa fa-pinterest" aria-hidden="true"></i>
     <span class="share-title">Pin it</span>
      
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
    </a>
  {% endif %}
  
  
  {% if settings.share_instagram %}
    <a class="share-instagram after" target="_blank" rel="noreferrer" href="//plus.google.com/share?/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btn--small btn--secondary btn--share share-pinterest" >
     <i class="fa fa-google-plus" aria-hidden="true"></i>
     <span class="share-title">Share</span>
      
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
    </a>
  {% endif %}

</div>
