<!doctype html>
<!--[if IE 9]> 
<html class="ie9 no-js" lang="{{ shop.locale }}">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_chrome }}">
        <link rel="canonical" href="{{ canonical_url }}">
        {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
        {% endif %}
        {% capture seo_title %}
        {{ page_title }}
        {% if current_tags %}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
        {% endif %}
        {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
        {% endif %}
        {% unless page_title contains shop.name %}
        &ndash; {{ shop.name }}
        {% endunless %}
        {% endcapture %}
        <title>{{ seo_title }}</title>
        {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
        {% include 'social-meta-tags' %}
        {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
        {{ 'fancy-box.css' | asset_url | stylesheet_tag }}
        {{ 'custom.css' | asset_url | stylesheet_tag }}
        {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
        {% include 'google-fonts' %}
        <script>
            (function($){
                /* Adjustments for Safari on Mac */
                if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Mac') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
                    $('html').addClass('safari-mac'); // provide a class for the safari-mac specific css to filter with
                }
            });
        </script>
        <script>
            var theme = {
                strings: {
                    addToCart: {{ 'products.product.add_to_cart' | t | json }},
                    soldOut: {{ 'products.product.sold_out' | t | json }},
                    unavailable: {{ 'products.product.unavailable' | t | json }},
                    showMore: {{ 'general.filters.show_more' | t | json }},
                    showLess: {{ 'general.filters.show_less' | t | json }}
                },
                moneyFormat: {{ shop.money_format | json }}
            };
            
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        
        <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
        {% if template contains 'customers' %}
        <!--[if (gt IE 9)|!(IE)]><!-->
        <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
        <!--<![endif]-->
        <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
        {% endif %}
        <!--[if (gt IE 9)|!(IE)]><!-->
        <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
        <!--<![endif]-->
        <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!-->
        <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
        <!--<![endif]-->
        <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
        <script src="https://use.fontawesome.com/a4b635b3c9.js"></script>
        <!--   <script src="{{ 'slider1.js' | asset_url }}" defer="defer"></script>
            <script src="{{ 'slider2.js' | asset_url }}" defer="defer"></script>
            -->
        {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}
        {{ 'cookie.js' | asset_url | script_tag }}
        {{ content_for_header }}
        {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
        {{ "jquery.currencies.min.js" | asset_url | script_tag }}
        <meta name="google-site-verification" content="IV7BPLESttSpBdxSWN1s4zlr4HIcuHkGQYmE3wLG59w" />
    </head>
    <body class="template-{{ template | split: '.' | first }} " style="opacity: 0;">
        <div id="SearchDrawer" class="search-bar drawer drawer--top">
            <div class="search-bar__table">
                <div class="search-bar__table-cell search-bar__form-wrapper">
                    <form class="search search-bar__form" action="/search" method="get" role="search">
                        <button class="search-bar__submit search__submit btn--link" type="submit">
                        {% include 'icon-search' %}
                        <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
                        </button>
                        <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
                    </form>
                </div>
                <div class="search-bar__table-cell text-right">
                    <button type="button" class="btn--link search-bar__close js-drawer-close">
                    {% include 'icon-close' %}
                    <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
                    </button>
                </div>
            </div>
        </div>
        {% section 'header' %}
        <div class="page-container" id="PageContainer">
            <main class="main-content" id="MainContent" role="main">
                {{ content_for_layout }}
            </main>
            {% section 'footer' %}

    <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=redmarkdeals-dev.myshopify.com"></script>
        </div>
        {% include 'currencies' %}
        {% if settings.scroll_top_enable %}
        <button class="scrollup"><span></span></button>
        {% endif %}
        {% if settings.enable_search_autocomplete != blank %}
        {% include 'search-autocomplete' %}
        {% endif %}
        <script>
            jQuery(function() {
                jQuery('.swatch :radio').change(function() {
                    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
                    var optionValue = jQuery(this).val();
                    jQuery(this)
                        .closest('form')
                        .find('.single-option-selector')
                        .eq(optionIndex)
                        .val(optionValue)
                        .trigger('change');
                });
            });
            $(window).load(function() {
                $("body").css("opacity", "1");
                $('.coupon_main').css('opacity', '1');
            });
            Shopify.AjaxifyCart = (function($) {
                var _config = {
                    // What you might want to change
                    addToCartBtnLabel: 'Add to cart',
                    addedToCartBtnLabel: 'Thank you!',
                    addingToCartBtnLabel: 'Adding...',
                    soldOutBtnLabel: 'Sold Out',
                    howLongTillBtnReturnsToNormal: 1000, // in milliseconds.
                    cartCountSelector: '.site-header__cart-count',
                    cartTotalSelector: '#cart-price',
                    // What you will never need to change
                    addToCartBtnSelector: '[type="submit"]',
                    addToCartFormSelector: 'form[action="/cart/add"]',
                    shopifyAjaxAddURL: '/cart/add.js',
                    shopifyAjaxCartURL: '/cart.js'
                };
                var _showFeedback = function(success, html, $addToCartForm) {
                    $('.ajaxified-cart-feedback').remove();
                    var feedback = '<p class="ajaxified-cart-feedback ' + success + '">' + html + '</p>';
                    $addToCartForm.find(_config.addToCartBtnSelector).after(feedback);
                    $('.ajaxified-cart-feedback').animate({ height: "100%", opacity: 1 }, 400);
                };
                var _setText = function($button, label) {
                    if ($button.children().length) {
                        $button.children().each(function() {
                            if ($.trim($(this).text()) !== '') {
                                $(this).text(label);
                            }
                        });
                    } else {
                        $button.val(label).text(label);
                    }
                };
                var _init = function() {
                    $(document).ready(function() {
                        $(_config.addToCartFormSelector).submit(function(e) {
                            e.preventDefault();
                            var $addToCartForm = $(this);
                            var $addToCartBtn = $addToCartForm.find(_config.addToCartBtnSelector);
                            _setText($addToCartBtn, _config.addingToCartBtnLabel);
                            $addToCartBtn.addClass('disabled').prop('disabled', true);
                            // Add to cart.
                            $.ajax({
                                url: _config.shopifyAjaxAddURL,
                                dataType: 'json',
                                type: 'post',
                                data: $addToCartForm.serialize(),
                                success: function(itemData) {
                                    // Re-enable add to cart button.
                                    $addToCartBtn.addClass('inverted');
                                    _setText($addToCartBtn, _config.addedToCartBtnLabel);
                                    _showFeedback('success', '<span><i class="fa fa-check"></i> Added to cart!</span><input type="button" class="btn btn--small-wide" style="color:white;" onclick="location.href=\'/checkout\';" value="{{ "products.product.go_to_checkout" | t }}" />', $addToCartForm);
                                    window.setTimeout(function() {
                                        $addToCartBtn.prop('disabled', false).removeClass('disabled').removeClass('inverted');
                                        _setText($addToCartBtn, _config.addToCartBtnLabel);
                                    }, _config.howLongTillBtnReturnsToNormal);
                                    // Update cart count and show cart link.
                                    $.getJSON(_config.shopifyAjaxCartURL, function(cart) {
                                        if (_config.cartCountSelector && $(_config.cartCountSelector).size()) {
                                            var value = $(_config.cartCountSelector).html() || '0';
                                            $(_config.cartCountSelector).html(value.replace(/[0-9]+/, cart.item_count));
                                            $(_config.cartCountSelector).removeClass('hidden-count');
                                        }
                                        if (_config.cartTotalSelector && $(_config.cartTotalSelector).size()) {
                                            if (typeof Currency !== 'undefined' && typeof Currency.moneyFormats !== 'undefined') {
                                                var newCurrency = '';
                                                if ($('[name="currencies"]').size()) {
                                                    newCurrency = $('[name="currencies"]').val();
                                                } else if ($('#currencies span.selected').size()) {
                                                    newCurrency = $('#currencies span.selected').attr('data-currency');
                                                }
                                                if (newCurrency) {
                                                    $(_config.cartTotalSelector).html('<span class=money>' + Shopify.formatMoney(Currency.convert(cart.total_price, "{{ shop.currency }}", newCurrency), Currency.money_format[newCurrency]) + '</span>');
                                                } else {
                                                    $(_config.cartTotalSelector).html(Shopify.formatMoney(cart.total_price, '{{ shop.money_format | remove: "'" | remove: '"' }}'));
                                                }
                                            } else {
                                                $(_config.cartTotalSelector).html(Shopify.formatMoney(cart.total_price, '{{ shop.money_format | remove: "'" | remove: '"' }}'));
                                            }
                                        };
                                    });
                                },
                                error: function(XMLHttpRequest) {
                                    var response = eval('(' + XMLHttpRequest.responseText + ')');
                                    response = response.description;
                                    if (response.slice(0, 4) === 'All ') {
                                        _showFeedback('error', response.replace('All 1 ', 'All '), $addToCartForm);
                                        $addToCartBtn.prop('disabled', false);
                                        _setText($addToCartBtn, _config.soldOutBtnLabel);
                                        $addToCartBtn.prop('disabled', true);
                                    } else {
                                        _showFeedback('error', '<i class="fa fa-warning"></i> ' + response, $addToCartForm);
                                        $addToCartBtn.prop('disabled', false).removeClass('disabled');
                                        _setText($addToCartBtn, _config.addToCartBtnLabel);
                                    }
                                }
                            });
                            return false;
                        });
                    });
                };
                return {
                    init: function(params) {
                        // Configuration
                        params = params || {};
                        // Merging with defaults.
                        $.extend(_config, params);
                        // Action
                        $(function() {
                            _init();
                        });
                    },
                    getConfig: function() {
                        return _config;
                    }
                }
            })(jQuery);
            Shopify.AjaxifyCart.init();
            $(document).ready(function() {
                $(window).scroll(function() {
                    if ($(this).scrollTop() > 100) {
                        $('.scrollup').fadeIn();
                    } else { 
                        $('.scrollup').fadeOut();
                    }
                    var scrollBottom = $(window).scrollTop() + window.innerHeight;
                    var offset = $('.page-width.page-width-copyright').offset().top;
                    if (scrollBottom > offset) {
                        $('#chat-widget-container').css('transform', `translateY(-${scrollBottom-offset}px)`);
                        $('#smile-ui-container').fadeOut(100);
                    } else {
                        $('#chat-widget-container').css('transform', 'translateY(0)');
                        $('#smile-ui-container').fadeIn(50);
                    }
                });
                $('.scrollup').click(function() { $("html, body").animate({ scrollTop: 0 }, 800); return !1 });
            })
        </script>
       {% include 'smile-initializer' %}
       {% include 'livechat-initializer' %}
    </body>
</html>