<div class="banner-section banner-section-{{ section.id }}">
  <div class="banner-section-container {{ section.settings.horizontal_align }} {{ section.settings.vertical_align }}">
    <div class="section-content">
      {% if section.settings.header != blank %}
        <h2 class="banner-section__header">{{ section.settings.header }}</h2>
      {% endif %}
      {% if section.settings.body != blank %}
        <div class="banner-section__body">{{ section.settings.body }}</div>
      {% endif %}
      {% if section.settings.button != blank %}
        <button class="banner-section__button" onclick="window.location.href='{{ section.settings.button_url }}';">
          {{ section.settings.button }}
        </button>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name":"Banner",
  "class":"index-section",
  "settings":[
    {
      "type":"header",
      "content":"Device Breakpoints"
    },
    {
      "type":"checkbox",
      "id":"enable_phone",
      "label":"Enable for phones"
    },
    {
      "type":"checkbox",
      "id":"enable_tablet",
      "label":"Enable for tablets"
    },
    {
      "type":"checkbox",
      "id":"enable_laptop",
      "label":"Enable for laptops"
    },
    {
      "type":"checkbox",
      "id":"enable_desktop",
      "label":"Enable for desktops"
    },
    {
      "type":"checkbox",
      "id":"enable_ultrawide",
      "label":"Enable for ultrawide"
    },
    {
      "type":"checkbox",
      "id":"enable_content_phone",
      "label":"Enable content for phones"
    },
    {
      "type":"checkbox",
      "id":"enable_content_tablet",
      "label":"Enable content for tablets"
    },
    {
      "type":"checkbox",
      "id":"enable_content_laptop",
      "label":"Enable content for laptops"
    },
    {
      "type":"checkbox",
      "id":"enable_content_desktop",
      "label":"Enable content for desktops"
    },
    {
      "type":"checkbox",
      "id":"enable_content_ultrawide",
      "label":"Enable content for ultrawide"
    },
    {
      "type":"header",
      "content":"Background"
    },
    {
      "type":"text",
      "id":"banner_height",
      "label":"Enter Banner Height",
      "default":"300"
    },
    {
      "type":"text",
      "id":"banner_image_url_phone",
      "label":"Banner Image URL (Phone)"
    },
    {
      "type":"text",
      "id":"banner_image_url_tablet",
      "label":"Banner Image URL (Tablet)"
    },
    {
      "type":"text",
      "id":"banner_image_url_laptop",
      "label":"Banner Image URL (Laptop)"
    },
    {
      "type":"text",
      "id":"banner_image_url_desktop",
      "label":"Banner Image URL (Desktop)"
    },
    {
      "type":"text",
      "id":"banner_image_url_ultrawide",
      "label":"Banner Image URL (Ultrawide)"
    },
    {
      "type":"select",
      "id":"banner_image_justify",
      "label":"Banner Image Justification",
      "options": [
        {
          "value": "left top",
          "label": "Left Top"
        },
        {
          "value": "left center",
          "label": "Left Center"
        },
        {
          "value": "left bottom",
          "label": "Left Bottom"
        },
        {
          "value": "center top",
          "label": "Center Top"
        },
        {
          "value": "center center",
          "label": "Full Center"
        },
        {
          "value": "center bottom",
          "label": "Center Bottom"
        },
        {
          "value": "right top",
          "label": "Right Top"
        },
        {
          "value": "right center",
          "label": "Right Center"
        },
        {
          "value": "right bottom",
          "label": "Right Bottom"
        }
      ],
      "default": "center center"
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"Pick background color"
    },
    {
      "type":"header",
      "content":"Content"
    },
    {
      "type":"select",
      "id":"horizontal_align",
      "label":"Horizontal Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "horizontal-center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type":"select",
      "id":"vertical_align",
      "label":"Vertical Alignment",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "vertical-center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom"
    },
    {
      "type":"text",
      "id":"header",
      "label":"Enter Header Text"
    },
    {
      "type":"text",
      "id":"body",
      "label":"Enter Body Text"
    },
    {
      "type":"text",
      "id":"button",
      "label":"Enter Button Text"
    },
    {
      "type":"text",
      "id":"button_url",
      "label":"Enter Button URL"
    },
    {
      "type":"color",
      "id":"header_color",
      "label":"Pick header color"
    },
    {
      "type":"color",
      "id":"body_color",
      "label":"Pick body color"
    },
    {
      "type":"color",
      "id":"button_color",
      "label":"Pick button color"
    },
    {
      "type":"color",
      "id":"button_text_color",
      "label":"Pick button text color"
    },
    {
      "type":"color",
      "id":"button_hover_color",
      "label":"Pick button color (hovering)"
    },
    {
      "type":"color",
      "id":"button_text_hover_color",
      "label":"Pick button text color (hovering)"
    }
  ],
  "presets":[
    {
      "name":"Banner",
      "category":"Section"
    }
  ]
}
{% endschema %}

<style>
  .banner-section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    background-image: url("{{ section.settings.banner_image_url_desktop }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: {{ section.settings.banner_image_justify }};
    height: {{ section.settings.banner_height }}px;
    {% unless section.settings.enable_desktop %}
      display: none;
    {% endunless %}
  }
  .banner-section-{{ section.id }} .section-content {
    {% unless section.settings.enable_content_desktop %}
      display: none;
    {% endunless %}
  }
  .banner-section-{{ section.id }} .banner-section__header {
    color: {{ section.settings.header_color }};
    font-size: 1.25em;
    margin: 0 0 14px;
  }
  .banner-section-{{ section.id }} .banner-section__body {
    color: {{ section.settings.body_color }};
    font-size: 0.875em;
    margin: 0 0 20px;
  }
  .banner-section-{{ section.id }} .banner-section__button {
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
    padding: 8px 18px;
    line-height: 1.5 !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  .banner-section-{{ section.id }} .banner-section__button:focus,
  .banner-section-{{ section.id }} .banner-section__button:active,
  .banner-section-{{ section.id }} .banner-section__button:hover {
    background-color: {{ section.settings.button_hover_color }};
    color: {{ section.settings.button_text_hover_color }};
    outline: none;
  }
  .banner-section {
    margin: 0;
    max-width: 100vw;
  }
  .banner-section .banner-section-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  .banner-section-container.left {
    justify-content: flex-start;
  }
  .banner-section-container.horizontal-center {
    justify-content: center;
  }
  .banner-section-container.horizontal-center .section-content {
    text-align: center;
  }
  .banner-section-container.right {
    justify-content: flex-end;
  }
  .banner-section-container.right .section-content {
    text-align: right;
  }
  .banner-section-container.top {
    align-items: flex-start;
  }
  .banner-section-container.vertical-center {
    align-items: center;
  }
  .banner-section-container.bottom {
    align-items: flex-end;
  }
</style>