<div class="page-width custom_hide_content-{{ section.id }}">
  {% if section.settings.title != blank %}
    <div class="section-header text-center font_size">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% case section.settings.grid %}
    {% when '2' %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '540x600' -%}
    {% when '3' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {%- assign image_size = '345x550' -%}
    {% when '4' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {%- assign image_size = '250x' -%}
    {% when '5' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {%- assign image_size = '195x' -%}
    
  {% endcase %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

  <div class="grid grid--uniform grid--view-items">
    {% for product in collection.products limit: product_limit %}
      <div class="grid__item {{ grid_item_width }}">
        {% include 'product-card-grid', grid_image_width: image_size %}
      </div>
    {% else %}

      {% for i in (1..product_limit) %}
        <div class="grid__item {{ grid_item_width }}">
          <div class="grid-view-item">
            <a href="#" class="grid-view-item__link">
              <div class="grid-view-item__image">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="better">
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
              <div class="grid-view-item__meta">
                {% include 'product-price' %}
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  {% if section.settings.show_view_all %}
  <hr class="hr--invisible"/>
<div class="feature-row">
  <a href="{{ section.settings.cta_link_1 }}">
    <div class="button-1 product new-btn ">
      {{ section.settings.cta_button_1 }}
    </div>
  </a>

</div>

{% endif %}

</div>

{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
	    "type": "text",
      	"id": "title_font_size",
	    "label": "Font Size"
  	  },
      {
     	"type": "color",
     	"id": "heading_color",
	    "label": "Font Color"
	  },
      {
      "type": "header",
      "content": "Product Title/Price"
      },
      {
        "type": "checkbox",
        "id": "center_title_price",
        "label": "Enable to centralise",
        "default": false
      },
		{
        "type": "checkbox",
        "id": "center_title_bold",
        "label": "Bold And Captialize",
        "default": false
      },
      {
      "type": "header",
      "content": "Hide section"
      },
      {
        "type": "checkbox",
        "id": "hide_section",
        "label": "Enable to hide section",
        "default": false
      },
      {
      "type": "header",
      "content": "Product Title"
      },
       
      {
        "type": "color",
        "id": "product_title",
        "label": "Product title color "
      },
      {
        "type": "text",
        "id": "product_title_font",
        "label": "Product font size "
      },
      {
        "type": "color",
        "id": "product_title_cutthrough",
        "label": "Product cutthrough price color "
      },
      {
        "type": "color",
        "id": "product_title_actual1",
        "label": "Product actual price color "
      },
      {
        "type": "text",
        "id": "product_title_font_price",
        "label": "Product price font size "
      },
        
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      },
{
     "type": "header",
        "content": "Button"
    },
    {
	"type": "text",
	"id": "cta_button_1",
	"label": "Text"
	},
	{
	"type": "text",
	"id": "cta_link_1",
	"label": "Link"
	},
	{
	"type": "color",
	"id": "background_color_cus_test",
	"label": "Background Color"
	},
    {
	"type": "color",
	"id": "border_color_cus_tes",
	"label": "Font Color"
	},
    {
	"type": "color",
	"id": "font_color__cus_te",
	"label": "Border Color"
	}, 
    {
	"type": "text",
	"id": "padding_button_1",
	"label": "Padding Top/Bottom"
	},
    {
	"type": "text",
	"id": "padding_button_2",
	"label": "Padding Left/Right"
	},
    {
	"type": "text",
	"id": "width_button",
	"label": "Width"
	},
    {
	"type": "text",
	"id": "border_button",
	"label": "Border Radius"
	},
    {
	"type": "text",
	"id": "font_size_button_1",
	"label": "Font Size"
	}
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Section"
      }
    ]
  }
{% endschema %}

<style>
  
 
  
  
  {% if   section.settings.center_title_price %}
  .h4.grid-view-item__title {
    text-align: center  ;
}

.grid-view-item__meta {
    text-align: center ;
}
  {% endif %}
  
   {% if   section.settings.hide_section %}
   .page-width.custom_hide_content-{{ section.id }} {
       display: none; 
    } 
   {% endif %}
    
.custom_hide_content-{{ section.id }}  .section-header.text-center.font_size h2 {
    font-size: {{ section.settings.title_font_size }};
}
  
.feature-row .button-1.product {
  background-color: {{ section.settings.bg_color_button_1 }};
  border: 1px solid {{ section.settings.bg_color_button_1 }};
  border-radius: {{ section.settings.border_button }};
  font-size: {{ section.settings.font_size_button_1 }};
  color: {{ section.settings.font_color }};
  padding :  {{ section.settings.padding_button_1}} {{ section.settings.padding_button_2 }};
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  max-width:  {{ section.settings.width_button }};
  margin-bottom: 25px;
}
.feature-row .button-2.product {
  background-color: {{ section.settings.bg_color_button_2 }};
  border: 1px solid {{ section.settings.bg_color_button_2 }};
  border-radius: {{ section.settings.border_button}};
  font-size: {{ section.settings.font_size_button_1 }};
  padding: 15px;
 margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 400px;
}
.feature-row .button-1.product a {
 	color: {{ section.settings.font_color_button_1 }};
}
.feature-row .button-2.product a {
    color: {{ section.settings.font_color_button_2 }};
}
  
.custom_hide_content-{{ section.id }} .section-header.text-center.font_size h2 {
    color: {{ section.settings.heading_color }};
}
  
 .custom_hide_content-{{ section.id }} .h4.grid-view-item__title {              
    color:  {{ section.settings.product_title }};
    font-size: {{ section.settings.product_title_font }};
}
  .custom_hide_content-{{ section.id }} s.product-price__price  {              
    color: {{ section.settings.product_title_cutthrough }} ;
}
  
  .grid-view-item .grid-view-item__meta {                     
    font-size: {{ section.settings.product_title_font_price }};
}
  .edit_sec  {
  color: {{ section.settings.product_title_cutthrough }};
}
  .custom_hide_content-{{ section.id }} .sale_act_price  {
    color: {{ section.settings.product_title_actual1 }} !important;
}
  .feature-row .new-btn {
    background-color: {{ section.settings.background_color_cus_test }} !important ;
    color: {{ section.settings.border_color_cus_tes }} !important ;
    border-color:  {{ section.settings.font_color__cus_te }} !important  ;
}
</style>