<div class="page-width rich-text">
  {% if section.settings.section_title != blank %}
    <div class="rich-text__heading text-center">
      <h2 class="h3">{{ section.settings.section_title }}</h2>
    </div>
  {% endif %}
  {% if section.settings.text != blank %}
    <div class="rich-text__text rte-setting text-center">{{ section.settings.text }}</div>
  {% endif %}
</div>

<style>
  #shopify-section-{{ section.id }} {
    display: none;
    background-color: {{ section.settings.background_color }};
  }
  #shopify-section-{{ section.id }} .page-width.rich-text {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #shopify-section-{{ section.id }} .rich-text__heading h2 {
    color: {{ section.settings.header_color }};
  }
  #shopify-section-{{ section.id }} .rich-text__text p {
    color: {{ section.settings.body_color }};
  }
  @media only screen and (max-width: 499.9px) {
    {% if section.settings.enable_phone %}
      #shopify-section-{{ section.id }} {
        display: flex;
      }
    {% endif %}
  }
  @media only screen and (max-width: 1023.9px) and (min-width: 500px) {
    {% if section.settings.enable_tablet %}
      #shopify-section-{{ section.id }} {
        display: flex;
      }
    {% endif %}
  }
  @media only screen and (max-width: 1439.9px) and (min-width: 1024px) {
    {% if section.settings.enable_laptop %}
      #shopify-section-{{ section.id }} {
        display: flex;
      }
    {% endif %}
  }
  @media only screen and (min-width: 1440px) and (min-width: 1440px) {
    {% if section.settings.enable_desktop %}
      #shopify-section-{{ section.id }} {
        display: flex;
      }
    {% endif %}
  }
</style>

{% schema %}
  {
    "name": {
      "en": "Rich Text",
      "de": "Rich Text",
      "fr": "Texte enrichi"
    },
    "class": "index-section",
    "settings": [
      {
        "type":"header",
        "content":"Device Breakpoints"
      },
      {
        "type":"checkbox",
        "id":"enable_phone",
        "label":"Enable for phones"
      },
      {
        "type":"checkbox",
        "id":"enable_tablet",
        "label":"Enable for tablets"
      },
      {
        "type":"checkbox",
        "id":"enable_laptop",
        "label":"Enable for laptops"
      },
      {
        "type":"checkbox",
        "id":"enable_desktop",
        "label":"Enable for desktops"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête"
        },
        "default": {
          "en": "Talk about your brand",
          "de": "Reden Sie über Ihre Marke",
          "fr": "Parlez de votre marque"
        }
      },
      {
        "type": "textarea",
        "id": "text",
        "label": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte"
        },
        "default": {
          "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
          "de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</p>",
          "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</p>"
        }
      },
      {
        "type": "color",
        "id": "header_color",
        "label": "Header Text Color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "body_color",
        "label": "Body Text Color",
        "default": "#E8E8E8"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fff"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Rich Text",
          "de": "Rich Text",
          "fr": "Texte enrichi"
        },
        "category": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte"
        }
      }
    ]
  }
{% endschema %}
