<div class="newsletter-section">
  <div class="page-width">
    <div class="grid">
      {% if section.settings.heading != blank %}
      <div class="section-header">
        <h2 class="newsletter-section__header">{{ section.settings.heading }}</h2>
      </div>
      {% endif %}
      <div class="section-content">
        <div class="newsletter-section__content">{{ section.settings.content}}</div>
        <div class="newsletter-section__submit-div">
          <button class="newsletter-section__submit" name="submit" id="newsletter-section__sign-up">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="newsletter-section__page-wide-overlay"></div>

<style>
#newsletter-section__page-wide-overlay {
  display: none;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000010;
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 9999px;
  width: 9999px;
}
.newsletter-section {
  background-color: {{ section.settings.bg_color }};
  margin: 0;
  max-width: 100vw;
}
.newsletter-section .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.newsletter-section .grid .section-header {
  margin-top: 30px;
  margin-bottom: 10px;
}
.newsletter-section__header {
  text-align: center; 
  margin-top: 30px;
  font-size: 1.25em;
  color: {{ section.settings.heading_color }};
  margin: 0;
}
.newsletter-section .grid .section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.newsletter-section__content {
  color: {{ section.settings.content_color }};
  font-size: {{ section.settings.content_size }};
  max-width: 800px;
}
.newsletter-section__submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.newsletter-section__submit {
  text-align: center;
  text-decoration: none;
  border: none;
  color: black;
  background-color: white;
  padding: 8px 18px;
  line-height: 1.5 !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  width: 120px;
  cursor: pointer;
  transition: 0.3s;
}
.newsletter-section__submit:hover {
  background-color: {{ settings.color_accent }};
  color: white;
}
.newsletter-section__submit:focus,
.newsletter-section__submit:active {
  outline: none;
}
</style>

<script>
  $(document).ready(function() {
    jQuery.fn.shake = function(intShakes, intDistance, intDuration, callback) {
      this.each(function() {
        $(this).css("position","relative"); 
        for (var x=1; x<=intShakes; x++) {
          $(this).animate({left:(intDistance*-1)}, (((intDuration/intShakes)/4)))
          .animate({left:intDistance}, ((intDuration/intShakes)/2))
          .animate({left:0}, (((intDuration/intShakes)/4)), callback);
        }
      });
      return this;
    };
    var overlay = $('#newsletter-section__page-wide-overlay');
    $('#newsletter-section__sign-up').click(function () {
      $('#k_email').css('z-index', '1000015');
      overlay.show(600, 'swing');
      $('html, body').animate({ scrollTop: $(document).height() }, 'slow', 'swing', function() {
        $('#k_email').focus();
        $('#k_email').shake(1, 6, 500, function () {
          setTimeout(function () {
            overlay.hide(200, function () {
              $('#k_email').css('z-index', '1');
            });
          }, 400);
        }); 
      });
    });
  });
</script>

{% schema %}
{
  "name":"Newsletter Sign-Up",
  "class":"index-section",
  "settings":[
    {
      "type":"header",
      "content":"Heading"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"Enter Text"
    },
    {
      "type":"color",
      "id":"heading_color",
      "label":"Pick Font Color"
    },
    {
      "type":"header",
      "content":"Text"
    },
    {
      "type":"text",
      "id":"content",
      "label":"Enter Text"
    },
    {
      "type":"text",
      "id":"content_size",
      "label":"Enter Font Size"
    },
    {
      "type":"color",
      "id":"content_color",
      "label":"Pick Font Color"
    },
    {
      "type":"header",
      "content":"Background"
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"Pick Background Color"
    }
  ],
  "presets":[
    {
      "name":"Newsletter",
      "category":"Section"
    }
  ]
}
{% endschema %}