{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
<div class="product-section__container page-width"  itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
{% if product.metafields.loox.num_reviews %}
	<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="{{ product.metafields.loox.avg_rating }}"/>
		<meta itemprop="reviewCount" content="{{ product.metafields.loox.num_reviews }}"/>
	</div>
{% endif %} 
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_thumb_size = '96x' -%}
  {%- assign product_image_zoom_size = '1100x' -%} 
  {%- assign product_image_size_url = '1000x' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
   
  {% comment %}
  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}
  {% endcomment %}
  <div class="product-section">
    <div class="product-section__gallery-container">
      {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
      {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}
      {% include 'sale_tag' %}
      <div class="product-section__featured-desktop-wrapper">
        <div id="FeaturedImageZoom-{{ section.id }}" class="product-section__photo" {% if enable_zoom %}data-zoom="{{ featured_img_src | img_url: product_image_zoom_size }}"{% endif %}>
          <img itemprop="image" src="{{ product.featured_image.src | img_url: product_image_size_url }}" alt="{{ featured_img_alt }}" id="FeaturedImage-{{ section.id }}" class="{% if enable_zoom %}zoom_hover{% endif %} product-featured-img{% if enable_zoom %} js-zoom-enabled{% endif %}">
        </div>
      </div>
      <div class="slick-slider__carousel product-section__featured-mobile-carousel" id="product-section__featured-mobile-carousel-{{ section.id }}">
        {% for image in product.images %}
          <div class="slick-slider__item product-section__featured-item">
            <div class="slick-slider__item-img-wrapper">
              <img class="product-section__featured-img lazyload" data-src="{{ image.src | img_url: product_image_size_url }}" itemprop="image" alt="{{ image.alt | escape }}">
            </div>
          </div>
        {% endfor %}
      </div>
      {% if product.images.size > 1 %}
        <div class="slick-slider__carousel product-section__thumbnails-desktop-carousel" id="product-section__thumbnails-desktop-carousel-{{ section.id }}">
          {% for image in product.images %}
            <div class="slick-slider__item product-section__thumbnails-item">
              <a itemprop="url"
                href="{{ image.src | img_url: product_image_size_url }}"
                  class="slick-slider__card product-section__thumbnail product-section__thumbnail--{{ section.id }}"
                  {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size }}"{% endif %}>
                  <div class="slick-slider__item-img-wrapper">
                    <img class="product-section__thumbnail-image lazyload" data-src="{{ image.src | img_url: product_thumb_size }}" itemprop="image" alt="{{ image.alt | escape }}">
                  </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <div class="slick-slider__carousel product-section__thumbnails-mobile-carousel" id="product-section__thumbnails-mobile-carousel-{{ section.id }}">
          {% for image in product.images %}
            <div class="slick-slider__item product-section__thumbnails-item">
              <a itemprop="url"
                class="slick-slider__card product-section__thumbnail product-section__thumbnail-mobile product-section__thumbnail--{{ section.id }}-{{ forloop.index0 }} {% if forloop.first == true %}active-thumb{% endif %}"
                tabindex="-1"
                slideindex="{{ forloop.index0 }}">
                <div class="slick-slider__item-img-wrapper">
                  <img class="product-section__thumbnail-image lazyload" data-src="{{ image.src | img_url: product_thumb_size }}" itemprop="image" alt="{{ image.alt | escape }}">
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="product-section__options-form">
      <h1 itemprop="headline" class="product-section__title">{{ product.title }}</h1>
      {% if section.settings.show_vendor %}
        <p itemprop="brand" class="product-section__vendor">{{ product.vendor }}</p>
      {% endif %}

      {% assign priceDrop = current_variant.compare_at_price | minus: current_variant.price %}
      {% assign percentageSaved = priceDrop | times: 100.0 | divided_by: current_variant.compare_at_price | round %}

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}"> 
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
        <p class="product-section__price product-section__price-{{ section.id }}">
          {% if current_variant.compare_at_price > current_variant.price %}
            <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
            <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
              <span id="ProductPrice-{{ section.id }}" itemprop="price" content="{{ current_variant.price | money_without_currency }}"> {{ current_variant.price | money }} </span>
            </span>
            <span class="product-price__percent-saved">You Save <span style="font-weight:bold;">{{ percentageSaved }}%</span>{% comment %} ({{ priceDrop | money }}){% endcomment %}</span>
          {% else %}
            <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
            <span class="product-price__price product-price__price-{{ section.id }}">
              <span id="ProductPrice-{{ section.id }}" itemprop="price" content="{{ current_variant.price | money_without_currency }}"> {{ current_variant.price | money }} </span>
            </span>
          {% endif %}
        </p>
        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}"></span>
        <a href="#looxReviews">
          <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}">
          </div>
        </a>
        <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-section__form" data-section="{{ section.id }}">
          {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js product-section__form-item" style="display:none">
                <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>
                <select class="single-option-selector single-option-selector-{{ section.id }} product-section__form-input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}
          <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-section__form-variants no-js">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
              {% else %}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
            {% endfor %}
          </select>
          {% if section.settings.enable_swatches %}
            {% if product.available and product.variants.size > 1 %}
              {% for option in product.options %}
                {% include 'swatch' with option %}
              {% endfor %}
            {% endif %}
          {% endif %}
          {% if section.settings.show_quantity_selector %}
            <div class="product-section__form-item product-section__form-quantity-wrapper">
              <label for="Quantity" class="product-section__qty-label">{{ 'products.product.quantity' | t }}</label>
              <input type="button" value="-" class="product-section__qty-decrease">
              <input class="product-section__qty-input"
                type="number" name="quantity" id="Quantity" value="1" min="1" max="99" pattern="[0-9]*">
              <input type="button" value="+" class="product-section__qty-increase">
            </div>
          {% endif %}
          <div class="product-section__form-item product-section__form-item--submit">
            <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-section__form-cart-submit">
              <span id="AddToCartText-{{ section.id }}">
                {% unless current_variant.available %}
                  {{ settings.add_to_cart_button_soldouttext }}
                {% else %}
                  {{ settings.add_to_cart_button_text }}
                {% endunless %}
              </span>
            </button> 
            <div class="product-section__payment-badges">
              {% include 'payment-badges' %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="product-section__recart">
  </div>
  {% include 'secure-badges' %}
  <div style="transform: scale(0.8);">
    {% include 'social-share' %}
  </div>
  <div class="product-section__description-container">
    <div class="product-section__description-header">
      <div id="simple" class="product-section__header-item selected-header-item">
        Description
      </div>
      <div id="technical" class="product-section__header-item">
        Specifications
      </div>
    </div>
    <div id="description-simple" class="product-section__description" itemprop="description">
      {{ product.description }}
    </div>
    <div id="description-technical" class="product-section__description hidden"></div>
  </div>
  <div class="product-section__instagram-gallery">
    {% if section.settings.show_empty_gallery_text %}
      <p class="product-section__empty-gallery-msg text-center">
        <span class="upper">
          🤯<br/>
          Doh! We're sorry.
        </span><br/>
        We currently don't have any pictures of this product on our Instagram.<br/>
        <a href="{{ settings.instagram_link }}" target="_blank">Click here to check out our page!</a>
      </p>
    {% endif %}
    <div class="slick-slider__carousel" id="product-section__ig-carousel"></div>
  </div>
  {% if section.settings.show_returns_text %}
    <div class="product-section__returns-text text-center">
        <h2>
          30-Day Money-Back Guarantee
        </h2>
        <hr />
        <p>
          Try it out for 30 days risk-free! Unsatisfied? Don't worry!<br />
          No ifs. No buts. Whatever it takes, we're here for you.<br />
          <strong>Satisfaction Guaranteed.</strong>
        </p>
    </div>
  {% endif %}
  {% include 'social-share' %}
</div> 
{% if current_variant.available %}
  <div class="product-section__floating-wrapper" style="display:none;">
    <button id="floating-atc" class="btn product-section__form-cart-floating-submit">
      <span>
        {{ settings.add_to_cart_button_text }}
      </span>
    </button>
  </div>
{% endif %}

{% comment %}
{{ collection.url }}
{{ 'products.product.back_to_collection' | t: title: collection.title }}
{% endcomment %}

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
  </script>
{% endunless %}

<script>
  var featuredMobileCarousel = $('#product-section__featured-mobile-carousel-{{ section.id }}');
  var thumbnailMobileCarousel = $('#product-section__thumbnails-mobile-carousel-{{ section.id }}');
  if (!String.prototype.endsWith) {
    String.prototype.endsWith = function(search, this_len) {
        if (this_len === undefined || this_len > this.length) {
            this_len = this.length;
        }
        return this.substring(this_len - search.length, this_len) === search;
    };
}
  $(function() {
    /*
     * Feature image gallery
     */
    
    $('#product-section__thumbnails-desktop-carousel-{{ section.id }}').slick({
      infinite: false,
      speed: 400,
      slidesToShow: 5,
      slidesToScroll: 5,
      touchThreshold: 100,
      dots: true,
      arrows: false,
      vertical: true,
      verticalSwiping: true,
    });
    thumbnailMobileCarousel.slick({
      infinite: false,
      speed: 400,
      slidesToShow: 4,
      touchThreshold: 30,
      slidesToScroll: 4,
      dots: true,
      arrows: false
    });
    featuredMobileCarousel.slick({
      infinite: false,
      speed: 400,
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: false
    });

    var sliding = false;
    var resetSlidingTimeout;
    featuredMobileCarousel.on('beforeChange', function(event, slick, currentSlide, targetSlide) {
      if (currentSlide === targetSlide) return;
      let currentThumbnail = $('.product-section__thumbnail--{{ section.id }}-' + currentSlide);
      let targetThumbnail = $('.product-section__thumbnail--{{ section.id }}-' + targetSlide);
      if (currentThumbnail.hasClass('active-thumb'))
        currentThumbnail.removeClass('active-thumb');
      if (!targetThumbnail.hasClass('active-thumb'))
        targetThumbnail.addClass('active-thumb');
      
      let targetSet = Math.floor(targetSlide / 4);
      let currentSet = Math.floor(currentSlide / 4);
      if (targetSet > currentSet)
        thumbnailMobileCarousel.slick('slickNext');
      else if (targetSet < currentSet)
        thumbnailMobileCarousel.slick('slickPrev'); 
    });
    $('.product-section__thumbnail-mobile').click(function () {
      if ($(this).hasClass('active-thumb')) return;
      featuredMobileCarousel.slick('slickGoTo', parseInt($(this).attr('slideindex')));
    });

    /*
     * Populate descriptions and instagram gallery
     */
    var simpleButton = $('#simple');
    var technicalButton = $('#technical');
    var simpleDesc = $('#description-simple');
    var technicalDesc = $('#description-technical');
    if (simpleDesc.html().trim().length > 0) {
      var results = simpleDesc.find('.ig').length;
      var gallery = $('#product-section__ig-carousel');
      for (let i = 1; i <= results; i++)
      {
        var igElement = simpleDesc.find('.ig:first()');
        var postLink;
        if (igElement.length > 0) {
          postLink = igElement.attr('src');
          if (!postLink)
            postLink = igElement.attr('data-src');
        }
        var imgLink = (postLink.endsWith('/') ? postLink : postLink + '/') + 'media?size=l';
        igElement.remove();
        $('.product-section__empty-gallery-msg').hide();
        gallery.append(
        '<div class="slick-slider__item">\
          <a href="'+ postLink +'" class="slick-slider__card" tabindex="-1">\
            <div class="slick-slider__item-img-wrapper product-section__ig-img">\
              <img class="lazyload" data-src="' + imgLink + '" alt="instagram ig image gallery preview">\
            </div>\
          </a>\
        </div>');
      }
      if (results > 0) { 
        var slidesToShow = 4;
        if (results < slidesToShow) slidesToShow = results;
        $('#product-section__ig-carousel').slick({
          dots: false,
          infinite: true,
          speed: 400,
          slidesToShow: slidesToShow,
          swipeToSlide: true,
          touchThreshold: 8,
          centerMode: true,
          autoplay: true,
          pauseOnFocus: true,
          pauseOnHover: true,
          pauseOnDotsHover: true,
          autoplaySpeed: 6000,
          arrows: false,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: slidesToShow < 3 ? slidesToShow : 3
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: slidesToShow < 2 ? slidesToShow : 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1
              }
            }
          ]
        });
      }
      var newTechnical = simpleDesc.find('.technical');
      if (newTechnical.length > 0) {
        technicalDesc.html(newTechnical.html());
        newTechnical.remove();
      } else {
        // '.technical' wasn't found, so let's hide the whole The Techinical section
        technicalButton.css('display', 'none');
        technicalDesc.css('display', 'none');
      }
      var newSimple = simpleDesc.find('.simple');
      if (newSimple.length > 0) { // This one NEEDS to be last because at this point we've lost the other elements.
        simpleDesc.html(newSimple.html());
      } else if (newTechnical.length == 0) // '.simple' wasn't found, so change The Simple to "Description" if there's also no '.technical'
          simpleButton.text('Description');
      $('.stamped-main-widget').attr('data-description', simpleDesc.html().trim());
    } else {
      // No description, so hide ALL THE THINGS!
      $('.product-section__description-container').css('display', 'none');
    }

    /*
     * Description button functionality
     */
    $('.product-section__header-item').click(function() {
      var selectedClass = 'selected-header-item';
      if (!$(this).hasClass(selectedClass)) {
        var currentlySelected = $('.product-section__header-item.' + selectedClass);
        currentlySelected.removeClass(selectedClass);
        $(this).addClass(selectedClass);
        var currentDesc = $('#description-' + currentlySelected.attr('id'));
        var newDesc = $('#description-' + $(this).attr('id'));
        currentDesc.hide();
        newDesc.css('display', 'flex');
      }
    });
    if ($(document).width() >= 1024)
      $('img.zoom_hover').zoomIn({});
      $('#floating-atc').click(function() {
        var boldDiscountATC = $('#AddToCart-{{ section.id }}.bold_clone');
        var normalATC = $('#AddToCart-{{ section.id }}');
        if (boldDiscountATC.length) 
          boldDiscountATC.click();
        else
          normalATC.click();
      });
  });

  var resizeTimer, appendedRecart;
  function handleZoomResize() { 
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {
      var zoomImg = $('img.zoom_hover');
      if ($(document).width() >= 1024)
      {
        if (!$('#FeaturedImageZoom-product-template').find('.zoomIn').length)
          zoomImg.zoomIn({});
      }
      else {
        zoomImg.trigger('zoom.destroy'); 
      }
    }, 100);
  }
  window.onresize = handleZoomResize;
  /*
  * Wait for and move the Recart widget if the screen is too small.
  */

  var retryCount = 0;
  if (!appendedRecart) {
    var refresh = setInterval(function () {
      var recart = $('._rmp-state--initial');
      retryCount++;
      if (retryCount > 20) {
        clearInterval(refresh);
      }
      if (recart.length) {
        clearInterval(refresh);
        appendedRecart = true;
        recart.appendTo('.product-section__recart');
      }
    }, 300);
  }
</script>
<style>
  div#FeaturedImageZoom-product-template {
    overflow: hidden;
  }
  button#AddToCart:hover span {
    color: #fff;
  }
  .main {
    margin-top: 24px;
  }
  .template-product .modal-footer {
    padding-bottom: 14px;
  }
  button#AddToCart-product-template:hover span {
    color: #fff;
  }
  #popupDiv {
    display: none;
    color:#000 !important;
    margin: 8px 0px 2px 4px !important;
    padding: 5px 0px 8px 0px !important;
    -webkit-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px !important ;
    border-radius: 5px 5px 5px 5px;
    background-color:rgba(100%,100%,100%,1) !important;
    border-width: 1px !important;
    border-color: rgba( 0, 20, 45, .5) !important;
    border-style: solid !important;
    color: rgba( 0%,0%,0%,1) !important;
    box-shadow: 2px 2px 2px rgba(0%,0%,0%,0.2) !important;
  }

  /*----------  Swatch Styles  ----------*/
  {% assign width = '50px' %}
  {% assign height = '35px' %}
  /* Label */
  .swatch .header {
    margin: 0.5em 0;
  }
  /* Hide radio buttons.*/
  .swatch input { 
    display:none;
  }
  .swatch label {
    border-radius:2px;
    float:left;
    min-width: {{ width }} !important; 
    height: {{ height }} !important;
    margin: 0;
    background-color: #000;
    font-size: 0.8125em;
    text-align: center;
    line-height: {{ height }};
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
  }
  .swatch-element label { padding:0 10px; }
  .color.swatch-element label { padding:0; }
  /* Styling selected swatch */
  /* Slightly raised */
  .swatch label:hover {
    box-shadow:0px 0px 5px rgba(0,0,0,0.7);
    border-color:transparent;
  } 
  .swatch .swatch-element {
    float:left;
    -webkit-transform:translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
    /* Spacing between buttons */
    margin:0px 10px 10px 0;
    /* To position the sold out graphic and tooltip */
    position:relative;
  }
  /* Image with the cross in it */
  .crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
  .swatch .swatch-element .crossed-out { display:none; }
  .swatch .swatch-element.soldout .crossed-out { display:block; }
  .swatch .swatch-element.soldout label {
    filter: alpha(opacity=60); /* internet explorer */
    -khtml-opacity: 0.6;      /* khtml, old safari */
    -moz-opacity: 0.6;       /* mozilla, netscape */
    opacity: 0.6;           /* fx, safari, opera */
  }
  /* Tooltips */
  .swatch .tooltip {
    text-align:center;
    background:gray;
    color:#fff;
    bottom:100%;
    padding: 10px;
    display:block;
    position:absolute;
    width:100px;
    left:{{ width | remove: 'px' | to_number | divided_by: 2 | minus: 50 | plus: 2 }}px;
    margin-bottom:15px;
    /* Make it invisible by default */
    filter:alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity:0;
    visibility:hidden;
    /* Animations */
    -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    z-index: 10000;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
  }
  .swatch .tooltip:before {
    bottom:-20px;
    content:" ";
    display:block;
    height:20px;
    left:0;
    position:absolute;
    width:100%;
  }
  /* CSS triangle */
  .swatch .tooltip:after {
    border-left:solid transparent 10px;
    border-right:solid transparent 10px;
    border-top:solid gray 10px;
    bottom:-10px;
    content:" ";
    height:0;
    left:50%;
    margin-left:-13px;
    position:absolute;
    width:0;
  }
  .swatch .swatch-element:hover .tooltip {
    filter:alpha(opacity=100);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1;
    visibility:visible;
    -webkit-transform:translateY(0px);
      -moz-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -o-transform:translateY(0px);
            transform:translateY(0px);
  }
  .swatch.error {
    background-color:#E8D2D2!important;
    color:#333!important;
    padding:1em;
    border-radius:5px;
  }
  .swatch.error p {
    margin:0.7em 0;
  }
  .swatch.error p:first-child {
    margin-top:0;
  }
  .swatch.error p:last-child {
    margin-bottom:0;
  }
  .swatch.error code {
    font-family:monospace;
  }
  .font_style {
    text-transform: uppercase;
    font-weight: 700;
    color: #788188;
    top: 6px;
  }
  .template-product .product-price__sale-label {
    top: 36px;
  }
  .template-product p.product-section__price.product-section__price {
    font-size:  {{ section.settings.product_price_text }};
  }
  .template-product .btn-group-lg>.btn, .btn-lg {
    padding: 5px 16px;
    font-size: 1.125em;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  .template-product a {
    text-decoration: none !important;
  }
  .swatch input:checked + label {
    background-color: {{ section.settings.swatches_color }};
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  }
  .swatch.clearfix {
    width: 100%;
    padding: 4px 0 10px;
    border-top: 1px solid #eee;
  }
  .product-section__form-item.product-section__form-item--quantity label {
    font-size: 0.9375em;
  }
  .template-product a.site-header__logo-link {
    font-size: 1.1875em;
    font-weight: bold;    
  }
</style>
{% schema %}
  {
    "name": "Product Pages",
    "settings": [
      {
        "type": "header",
        "content": "Image Size"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Product Form"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Product Gallery"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "header",
        "content": "Product Name"
      },
      {
        "type": "color",
        "id": "main_product_color",
        "label": "Select Color for product heading"
      },
      {
        "type": "text",
        "id": "main_product_size",
        "label": "Font Size"
      },
      {
        "type": "header",
        "content": "Swatches"
      },
      {
        "type": "checkbox",
        "id": "enable_swatches",
        "label": "Enable Swatches "
      },
      {
        "type": "color",
        "id": "swatches_color",
        "label": "Color Swatches",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Enable Upsell Products"
      },
      {
        "type": "checkbox",
        "id": "related_product",
        "label": "Enable",
        "default": true
      },
      {
        "type": "header",
        "content": "Product price"
      },
      {
        "type": "color",
        "id": "cut_through_product_color",
        "label": "Select Color for cutthrough price"
      },
      {
        "type": "color",
        "id": "simple_product_color",
        "label": "Select Color for price"
      },
      {
        "type": "text",
        "id": "product_price_text",
        "label": "Font size(Example: 20PX)"
      },
      {
        "type": "header",
        "content": "Product Description"
      },
      {
        "type": "text",
        "id": "product_description_text",
        "label": "Font size"
      },
      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "text",
        "id": "font_size",
        "label": "Enter font size for the Add to Cart"
      },
      {
        "type": "text",
        "id": "stock_value_1",
        "label": "Enter text before stock value",
        "default": "Hurry only"
      },
      {
        "type": "text",
        "id": "stock_value_2",
        "label": "Enter text after stock value",
        "default": "left in stock!"
      },
      {
        "type": "header",
        "content": "Instagram Gallery"
      },
      {
        "type": "checkbox",
        "id": "show_empty_gallery_text",
        "label": "Enable empty instagram gallery message",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_returns_text",
        "label": "Enable returns/refunds text",
        "default": true
      },
      {
        "type": "header",
        "content": "Fixed Position of Add To Cart Button"
      },
      {
        "type": "checkbox",
        "id": "Fixed",
        "label": "Make fixed",
        "default": false
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "top_enable",
        "label": "Enable Social sharing for top"
      }
    ]
  }
{% endschema %}

	<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>