{% if section.settings.show_related_products == true %}
  <div class="related-products__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
    {% assign same_vendor = false %}
    {% assign same_type = false %}
    {% assign exclusions = 'frontpage,all' | split: ',' %}
    {% if product.metafields.c_f['Related Products'] %}
      {% assign collection = collections[product.metafields.c_f['Related Products']] %}
    {% endif %}
    {% assign found_a_collection = false %}
    {% if collection and collection.all_products_count > 1 %}
      {% unless exclusions contains collection.handle %}
        {% assign found_a_collection = true %}
      {% endunless %}
    {% endif %}
    {% unless found_a_collection %}
      {% for c in product.collections %}
        {% unless exclusions contains c.handle or c.all_products_count < 2 %}
          {% assign found_a_collection = true %}
          {% assign collection = c %}
          {% break %}
        {% endunless %}
      {% endfor %}
    {% endunless %}

    {% comment %}
      If we have a relevant collection.
    {% endcomment %}

    {% if found_a_collection %}
      {% assign current_product = product %}
      {% capture related_items %}
        {% for product in collection.products %}
          {% unless product.handle == current_product.handle %}
            {% unless same_vendor and current_product.vendor != product.vendor %}
              {% unless same_type and current_product.type != product.type %}
                {% include 'product-card-ps' %}
              {% endunless %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
      {% endcapture %}

      {% assign related_items = related_items | trim %}
      {% unless related_items == blank %}
        {% unless section.settings.related_title == blank %}
          <div class="section-header">
            <h2 itemprop="name" class="section-header__title related_heading">{{ section.settings.related_title }}</h2>
          </div>
        {% endunless %}
        <div class="related-products__slider-container">
          <div class="psrelated" style="display:none;" id="psrelatedproducts">
            <div class="ps-carousel ps-loaded ps-drag">
              <div class="ps-nav">
                <div class="ps-prev"><i class="fa fa-angle-left"></i></div>
              </div>
              <div class="ps-stage-outer">
                <div class="ps-stage">
                  {{ related_items }}
                </div>
              </div>
              <div class="ps-nav">
                <div class="ps-next"><i class="fa fa-angle-right"></i></div>
              </div>
            </div>
          </div>
        </div>
      {% endunless %}
    {% endif %}
  </div>
{% endif %}

<script>
$(function() {
  $('#ps-related-productss').psCarousel({
    loop: true,
    center: false,
    items: 3,
    margin: 30,
    autoplay: true,
    dots: true,
    nav: true,
    autoplayTimeout: 8500,
    smartSpeed: 450,
    navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
    responsive: {
      0: {
        items: 2
      },
      768: {
        items: 3
      },
      1170: {
        items: 5
      }
    }
  });
});
</script>

<style>
  .related_custom{
    color:{{ section.settings.related_product_name }};
  }
  .related_compare{
    color:{{ section.settings.related_actual_price }};
  }
  .related_actual{
    color:{{ section.settings.related_Compare }};
  }
  .related_heading {
    color:{{ section.settings.related_heading }};
  }
  -
</style>

{% schema %}
{
  "name": "Related products",
  "settings": [
      {
      "type": "header",
      "content": "Heading"
      },
      {
        "type": "color",
        "id": "related_heading",
        "label": "Color"
      },
      {
      "type": "header",
      "content": "Product Title"
      },
      {
        "type": "color",
        "id": "related_product_name",
        "label": "Color"
      },
      {
      "type": "header",
      "content": "Actual Price"
      },
      {
        "type": "color",
        "id": "related_actual_price",
        "label": "Color"
      },
      {
      "type": "header",
      "content": "Compare At Price"
      },
      {
        "type": "color",
        "id": "related_Compare",
        "label": "Color"
      },
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": false
    },
    {
      "id": "related_title",
      "type": "text",
      "label": "Section title",
      "default": "Stuff you might like"
    }
  ]
}
{% endschema %}