<div class="page-width reviews">
  <div class="section-header">
    <h2 class="header">{{ section.settings.heading_final }}</h2>
  </div>
  <div class="reviews-section">
    {% if section.settings.enable_arrows %}
      <button class="slick-prev-btn slick-prev slick-arrow" aria-label="Previous" type="button">
        <img srcset="{{ settings.scroll_top_img | img_url: "78x46" }}"/>
      </button>
    {% endif %}
    <div class="slick-slider__carousel" id="reviews-section__carousel">
      <div class="slick-slider__item">
        <div class="reviews-section__review slick-slider__card">
          <div class="reviews-section__icon">
            <img src="{{ section.settings.img_1 | img_url }}" alt="{{ section.settings.img_1.alt | escape }}" />
          </div>
          <div class="reviews-section__text-content">          
            <p class="review-text">{{ section.settings.subtext_1_style_2 }}</p>
            <p class="review-name">{{ section.settings.text_1_style_2 }}</p>
          </div>
        </div>
      </div>
      <div class="slick-slider__item">
        <div class="reviews-section__review slick-slider__card">
          <div class="reviews-section__icon">
            <img src="{{ section.settings.img_2 | img_url }}" alt="{{ section.settings.img_2.alt | escape }}" />
          </div>
          <div class="reviews-section__text-content">          
            <p class="review-text">{{ section.settings.subtext_1_style_3 }}</p>
            <p class="review-name">{{ section.settings.text_1_style_3 }}</p>
          </div>
        </div>
      </div>
      <div class="slick-slider__item">
        <div class="reviews-section__review slick-slider__card">
          <div class="reviews-section__icon">
            <img src="{{ section.settings.img_3 | img_url }}" alt="{{ section.settings.img_3.alt | escape }}" />
          </div>
          <div class="reviews-section__text-content">          
            <p class="review-text">{{ section.settings.subtext_1_style_4 }}</p>
            <p class="review-name">{{ section.settings.text_1_style_4 }}</p>
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.enable_arrows %}
      <button class="slick-next-btn slick-next slick-arrow" aria-label="Next" type="button">
        <img srcset="{{ settings.scroll_top_img | img_url: "78x46" }}"/>
      </button>
    {% endif %}
  </div>
</div>
<script>
  $(function() {
    $('#reviews-section__carousel').slick({
      {% if section.blocks.size > 3 %}
      dots: {{ section.settings.enable_dots }},
      {% endif %}
      infinite: true,
      speed: 400,
      slidesToShow: 3,
      swipeToSlide: true,
      touchThreshold: 30,
      autoplay: true,
      pauseOnFocus: true,
      pauseOnHover: true,
      pauseOnDotsHover: true,
      autoplaySpeed: 5000,
      arrows: false,
      responsive: [
        {
          breakpoint: 1000,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  });
</script>
<style>
  .review-name {
    color: {{ section.settings.edit__name_color }};
    font-weight: bold;
    margin-bottom: 0;
    font-size: {{ section.settings.edit__name_size }};
  }
  p.review-text {
    color: {{ section.settings.edit_cust_name_color }};
    font-size: {{ section.settings.edit_cust_name_size }};
  }  
  {% if section.settings.round_square == 'round' %}
    .reviews-section__icon img {
      border-radius: 50%;
    }
  {% endif %}
  {% if section.settings.round_square == 'square' %}
    .reviews-section__icon img {
      border-radius: 0%;
    }
  {% endif %}
  .reviews .section-header {
    text-align: center;
    font-size: 1.25em;
    color:  {{ section.settings.heading_color }};
  }
</style>

{% schema %}
  {
    "name":"Reviews",
    "class":"index-section",
    "settings":[
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "checkbox",
        "id": "enable_arrows",
        "label": "Enable slider arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_dots",
        "label": "Enable slider dots",
        "default": false
      },
      {
        "type":"header",
        "content":"Heading"
      },
      {
        "type":"text",
        "id":"heading_final",
        "label":"Enter Title"
      },
      {
        "type":"color",
        "id":"heading_color",
        "label":"Enter Font Color"
      },
      {
        "type":"header",
        "content":"Edit Review"
      },
      {
        "type":"color",
        "id":"edit_cust_name_color",
        "label":"Enter Font Color"
      },
      {
        "type":"text",
        "id":"edit_cust_name_size",
        "label":"Enter Font Size"
      },
      {
        "type":"header",
        "content":"Edit Customer Name"
      },
      {
        "type":"color",
        "id":"edit__name_color",
        "label":"Enter Font Color"
      },
      {
        "type":"text",
        "id":"edit__name_size",
        "label":"Enter Font Size"
      },
      {
        "type":"header",
        "content":"Image Round/Square"
      },
      {
        "type":"radio",
        "id":"round_square",
        "label":"Image Round/Square",
        "default":"round",
        "options":[
          {
            "value":"round",
            "label":"Round"
          },
          {
            "value":"square",
            "label":"Square"
          }
        ]
      },
      {
        "type":"header",
        "content":"Review 1"
      },
      {
        "type":"image_picker",
        "id":"img_1",
        "label":"Upload the image"
      },
      {
        "type":"text",
        "id":"text_1_style_2",
        "label":"Enter Customer Name"
      },
      {
        "type":"text",
        "id":"subtext_1_style_2",
        "label":"Enter Review"
      },
      {
        "type":"header",
        "content":"Review 2"
      },
      {
        "type":"image_picker",
        "id":"img_2",
        "label":"Upload the image"
      },
      {
        "type":"text",
        "id":"text_1_style_3",
        "label":"Enter Customer Name"
      },
      {
        "type":"text",
        "id":"subtext_1_style_3",
        "label":"Enter Review"
      },
      {
        "type":"header",
        "content":"Review 3"
      },
      {
        "type":"image_picker",
        "id":"img_3",
        "label":"Upload the image"
      },
      {
        "type":"text",
        "id":"text_1_style_4",
        "label":"Enter Customer Name"
      },
      {
        "type":"text",
        "id":"subtext_1_style_4",
        "label":"Enter Review"
      }
    ],
    "presets":[
      {
        "name":"Reviews",
        "category":"Section"
      }
    ]
  }
{% endschema %}